body{
	background: white;
	font-family: 'ssp-light';
}

h1,h2,h3,h4,a,p,body{
}



/************************

		HEADER

************************/

.logo{
	background: url(../img/logo.png) no-repeat center;
	height: 100px;
	width:  250px;
	z-index: 100;
	background-position: center;
	background-size: 100%;
	display: block;
	outline: 0;
	margin: auto;
	h1{
		color: transparent !important;
		-webkit-user-select: none;
	    -moz-user-select: -moz-none;
	    -ms-user-select: none;
	    user-select: none;
	    margin: 0;
	   	&:focus{
	   		text-decoration: none;
	   		outline: 0;
	   	}
	}
	&:hover{
		text-decoration: none;
	}
}



.landing{
	.image-wrap{
		background-size: cover;
		background: url(../img/landing.jpg) no-repeat center;
		display: table;
		width: 100%;
		height: 500px;
	}
	.image-content{
		display: table-cell;
		vertical-align: middle;
		color: white;
		text-align: center;
		h2{
			text-transform: uppercase;
			font-size: 30px;
			font-weight: bold;
			letter-spacing: 3px;
			margin-top: 150px;
			@media (min-width: @screen-sm-min){
				font-size: 50px;
			}
			&:after{
				content: "";
				display: block;
				width: 35%;
				margin: auto;
				margin-top: 20px;
				background-color: white;
				height: 2px;
			}
		}
		a{
			margin-top: 100px;
			color: white;
			border-radius: 5px;
			border: 1px solid white;
			padding: 10px 15px;
			display: inline-block;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			letter-spacing: 1px;
			&:hover{
				background-color: white;
				color: #333;
			}
		}
	}
}

.destination{
	margin-top: 20px;
	h2{
		color: #323232;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		&:after{
			content: "";
			display: block;
			width: 200px;
			margin: auto;
			margin-top: 20px;
			background-color: @primary-color;
			height: 2px;
		}
	}
	.lead-text{
		text-align: left;
		font-size: 18px;
		line-height: 25px;
		margin-top: 30px;
		padding: 0 20px;
		@media (min-width: @screen-sm-min){
			text-align: center;
			padding: 0;
		}
	}
	.going{
		width: 90%;
		margin: auto;
		text-align: center;
		margin-top: 50px;
		@media (min-width: @screen-sm-min){
			width: 50%;
		}

		hr{
			border-color: @primary-color;
			margin-top: 65px;
			visibility: hidden;
			@media (min-width: @screen-sm-min){
				visibility: visible;
			}
		}
		em{
			font-size: 14px;
			margin:0;
			font-weight: bold;
		}
		span{
			color: @primary-color;
			font-weight: bold;
			font-size: 18px;
		}
		p{
			color: @primary-color;
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 0px;
		}
		h3{
			font-weight: bold;
			margin-bottom: 0;
			margin-top: 10px;
			color: #1a1a1a;
			text-transform: uppercase;
		}
	}
	.going-left{
		width: 20%;
		float: left;
	}

	.going-mid{
		width: 20%;
		float: left;
		h3{
			margin-top: 50px;
		}
	}

	.going-right{
		width: 20%;
		float: left;
	}
	.spacing{
		width: 20%;
		float: left;
	}
}


.items{
	margin-top: 50px;
	.item-link{
		display: block;
		width: 100%;
		height: 100%;
	}
	.item-box{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 300px;
		display: table;
		width: 100%;
		margin-bottom: 30px;
		@media (min-width: @screen-sm-min){
			margin-bottom: 0;
		}
		&:hover{
			.item-cell{
				display: table-cell;
				transition: all 0.3s ease-in-out;
			}
		}
	}
	.item-cell{
		vertical-align: middle;
		text-align: center;
		background: rgba(0, 0, 0, 0.72);
		display: none;
		h3{
			color: white;
			text-transform: uppercase;
			&:after{
				content: "";
				display: block;
				width: 200px;
				margin: auto;
				margin-top: 5px;
				background-color: white;
				height: 2px;
				margin-bottom: 5px;
			}
		}
		p{
			color: white;
		}
	}
}


.tabs-menu{
	display: block;
	width: 100%;
	border-bottom: 1px solid #989898;
	text-align: center;

}
.nav-tabs{
	display: inline-block;
	margin-top: 50px;
	margin-bottom: -5px;
}

.tab-content{
	width: 60%;
	margin: auto;
	margin-top: 50px;
	img{
		width: 200px;
		margin: auto;
		display: block;
	}
	p{
		text-align: justify;
	}
	span{
		display: block;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	em{
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
	}
}

.tab-box{
	height: 200px;
	display: table;
	width: 100%;
}

.tab-cell{
	display: table-cell;
	vertical-align: middle;
}

.contact{
	background-color: #f2f2f2;
	margin-top: 50px;
	padding-bottom: 50px;
}

.contact_form{
	width: 80%;
	margin: auto;
	margin-top: 60px;
	@media (min-width: @screen-sm-min){
		width: 60%;
	}
	span{
		margin-bottom: 5px;
		display: block;
		color: #676767;
		font-size: 16px;
		margin-top: 5px;
	}
	input, textarea{
		width: 100%;
		margin-bottom: 30px;
		border: none;
		border-radius: 0;
		padding: 5px;
		outline: 0;
		display: block;
		font-size: 16px;
		background-color: transparent;
		color: #676767;
		border:1px solid #676767;
	}

	input{
		border:0;
		border-bottom: 1px solid #676767;
	}

	form{
		display: table;
		width: 100%;
	}

	.message{
		width: 100%;
		height: 190px;
	}

	button{
		display: inline-block;
		float: right;
		background-color: transparent;
		border:1px solid #676767;
		border-radius: 0px;
		padding: 5px 30px;
		outline: 0;
		color: #676767;
		font-size: 16px;
	}
}


.copyright{
	background-color: #252525;
	padding-bottom: 20px;
	p{
		color: #989898;
		padding: 30px 15px;
		text-align: center;
		margin: 0;
	}
	hr{
		width: 30%;
		margin: auto;
		border-top: 1px solid #303030;
	}

	span{
		text-align: center;
		width: 100%;
		display: block;
		color: #676767;
		margin-top: 30px;
	}
}



































